.logo {
    left: 2;
    top: 2;
    position: absolute;
}

h1 {
    text-align: center;
    color: aquamarine;
    font-family: 'Times New Roman';
}

body {
    background-color: steelblue;
    text-align: center;
}

.topnav {
    background-color: cadetblue;
    overflow: hidden;
    margin-left: 49px;
}

.topnav a {
    float: left;
    color: white;
    padding: 15px 15px;
    text-decoration: none;
    text-align: center;
}

.topnav a:hover {
    background-color: cyan;
    color: grey;
}

.topnav a.active {
    background-color: cornflowerblue;
    color: white;
}

footer {
    margin: auto;
    width: 50%; 
    text-align: center;
    margin-top: 20%;
}

/* .title1 {
    position: fixed;
}
/* css styling for all paragraph text */
