h1 {
    text-align: center;
    color: aquamarine;
    font-family: 'Times New Roman';
}

body {
    background-color: steelblue;
    text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
/* .title1 {
    position: fixed;
}
/* css styling for all paragraph text */
