h1 {
    text-align: center;
    color: aquamarine;
    font-family: 'Times New Roman';
}

body {
    background-color: steelblue;
    text-align: center;
}

.topnav {
    background-color: cadetblue;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: white;
    padding: 15px 15px;
    text-decoration: none;
    text-align: center;
}

.topnav a:hover {
    background-color: cyan;
    color: grey;
}

.topnav a.active {
    background-color: cornflowerblue;
    color: white;
}

footer {
    margin: auto;
    width: 50%; 
    text-align: center;
    margin-top: 99%;
}

.topnav2 {
    background-color: cadetblue;
    overflow: hidden;
}

.topnav2 a {
    float: left;
    color: white;
    padding: 15px 15px;
    text-decoration: none;
    text-align: center;
}

.topnav2 a:hover {
    background-color: cyan;
    color: grey;
}

.topnav2 a.active {
    background-color: cornflowerblue;
    color: white;
}

/* .title1 {
    position: fixed;
}
/* css styling for all paragraph text */
