h1 {
    text-align: center;
    color: rgb(64, 52, 72);
}

body {
    background-color: rgb(245, 240, 249);
    text-align: center;
    font-family: 'helvetica';
}

.topnav {
    background-color: rgb(182, 91, 163);
    overflow: hidden;
}

.topnav a {
    float: left;
    color: rgb(255, 255, 255);
    padding: 15px 15px;
    text-decoration: none;
    text-align: center;
}

.topnav a:hover {
    background-color: rgb(200, 142, 214);
    color: rgb(255, 255, 255);
}

.topnav a.active {
    background-color: rgb(182, 91, 163);
    color: white;
}

footer {
    margin: auto;
    width: 50%; 
    text-align: center;
    margin-top: 20%;
}

.vl {
    border-left: 3px solid rgb(255, 255, 255);
    height: 47px;
    position: absolute;
    margin-left: 518px;
    top: 9px;
}

.comment {
    border: 1px solid rgb(200, 200, 200);
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(245, 245, 245); /* Add a background color for better visibility */
}

#username {
    /* Adjust the width and alignment of the username input */
    width: 100%;
    margin-right: 10px; /* Add margin to create space between input and label */
}

#comment {
    /* Adjust the appearance of the comment textarea */
    width: 100%;
    padding: 8px;
    resize: vertical; /* Allow vertical resizing of textarea */
    margin-bottom: 10px;
}

input[type="submit"] {
    /* Style the submit button */
    background-color: rgb(178, 74, 74);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Add spacing between comment boxes */
.comment-section .comment:not(:last-child) {
    margin-bottom: 20px;
}

/* Adjust the alignment of the form elements */
#comment-form label {
    display: block;
    margin-bottom: 5px;
}

.comment-section {
    float: right;
    width: 35%; /* Adjust the width as needed */
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(245, 240, 249);
    margin-top: 100px;
}

.g-r-text{
    text-align: left;
    width: 57%;
    margin-left: 1%;
}

.imgrain1 {
    display: block; 
    width: 50%;
    margin-right: 0%;
    margin-left: 23px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .imgrain2 {
    display: block;
    width: 50%;
    margin-right: 0;
    margin-left: 1%;
    margin-top: 30px;
    margin-bottom: 30px
  }

  .g-r2-text{
    text-align: left;
    width: 57%;
    margin-left: 1%;
  }