h1 {
    text-align: center;
    color: rgb(64, 52, 72);
}

body {
    background-color: rgb(245, 240, 249);
    text-align: center;
    font-family: 'helvetica';
}

.topnav {
    background-color: rgb(182, 91, 163);
    overflow: hidden;
}

.topnav a {
    float: left;
    color: rgb(255, 255, 255);
    padding: 15px 15px;
    text-decoration: none;
    text-align: center;
}

.topnav a:hover {
    background-color: rgb(200, 142, 214);
    color: rgb(255, 255, 255);
}

.topnav a.active {
    background-color: rgb(182, 91, 163);
    color: white;
}

footer {
    margin: auto;
    width: 50%; 
    text-align: center;
    margin-top: 20%;
}

.vl {
    border-left: 3px solid rgb(255, 255, 255);
    height: 47px;
    position: absolute;
    margin-left: 518px;
    top: 9px;
}
right-side {
    float: right;
    width: 40%; /* Adjust the width of the right side */
    position: relative; /* For positioning the vllong-right element */
}

.vllong-right {
    border-left: 3px solid rgb(255, 255, 255);
    height: 100%;
    position: relative;
    left: -10px;
}

.comment-section {
    float: right;
    width: 40%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240); /* Add a background color */
    border-left: 3px solid rgb(178, 74, 74);
    border-right: 3px solid rgb(178, 74, 74); /* Add a right border */
}


.comment {
    border: 1px solid rgb(200, 200, 200);
    padding: 10px;
    margin-bottom: 10px;
}

#confirmation-message {
    display: none;
    color: green;
    margin-top: 10px;
}